body {
  font-family: "Oswald", sans-serif !important;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  /* letter-spacing: 0.5em; */
  /* top: 15%; */
  background: linear-gradient(to right, rgb(56, 17, 0), rgb(56, 17, 0));
  color: #fff;
  margin: 150px;
}

h1 {
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  padding-bottom: 25px;
}

h2 {
  padding-bottom: 30px;
}

h3 {
  font-size: 16px;
  text-align: center;
  text-transform: none;
}

.container {
  display: flex;
  justify-content: center;
}

.form-control-color {
  margin-bottom: 25px;
  padding: 5px;
}
